.hero .row {
  display: flex;
  
}

.hero .col-md-6 {
  width: 50%;
  padding: 20px;
}

.hero-search-form .input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.hero-search-form .form-control {
  width: 100%;
}

.hero-search-form .btn-block {
  width: 100%;
}

.hero-image {
  max-width: 80%;
  height: auto;
  object-fit: contain;
  margin-left: 80px;
}